* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

header nav {
    position: fixed;
    left: 0;
    min-height: 100vh;
    width: 300px;
    background-color: #413f3f;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

header nav div:first-child img {
    margin: 20px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

header nav div:first-child h2 {
    color: #fff;
}

#socials {
    padding: 0 50px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#socials img {
    border-radius: 50%;
    background-color: #fff;
    height: 30px;
    margin: 10px;
    /* width: 20px; */
}

header nav ul {
    margin: 20px 0;
    text-align: center;
}

header nav ul li {
    margin: 20px 0px;
    list-style: none;
    color: #fff;
    font-size: 32px;
}

header nav ul li a {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-decoration: none;
}

main {
    min-height: 100vh;
    max-width: calc(100vw - 300px);
    position: relative;
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} 